body{
    background-color :rgb(255,177,177);
}

.N5{
}

.N5-description{
	font-weight:bold;
	margin:center;
}

.N5-container{
	width:50%;
	margin:auto;
	border:2px black solid;
}

.n5-text{
	margin:0;
}

.N4{
	
}

.N4-description{
	font-weight:bold;
}

.N4-container{
	width:50%;
	margin:auto;
	border:2px black solid;
}

.n4-text{
	margin:0;
}
