body{
    background-color :rgb(255,177,177);
}

.description{
	font-weight:bold;
	text-align:center;
}

.container{
	width:50%;
	margin:auto;
	border:2px black solid;
}

.n5-text{
	margin:0;
}


.N4-description{
	font-weight:bold;
}

.n4-text{
	margin:0;
}

.jlpt-title{
	text-align:center;
}